{% extends 'firstapp/base.html' %}
{% load static %}

{% block title %}New Ressource{% endblock title %}

{% block body %}
<header class="bg-dark text-white" style="margin-bottom: 50px">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start pb-4 pb-lg-0">
      <a class="nav-link" href="{% url 'Übersicht' %}">
        <img class="logo" src="{% static 'images/logo-noBG.png' %}" alt="logo" />
      </a>

      <div class="nav col-12 col-lg-auto me-lg-auto justify-content-center ">
        <h1><b> New Cluster-Resource </b></h1>
      </div>

      <div class="text-end">
        <div class="dropdown">
          <div id="dropdownMenu" data-bs-toggle="dropdown" aria-expanded="false">
            <div class="menuBar1" style="background-color:white"></div>
            <div class="menuBar2" style="background-color:white"></div>
            <div class="menuBar3" style="background-color:white"></div>
          </div>
          <div class="dropdown-menu" aria-labelledby="dropdownMenu">
            <span class="dropdown-item-text">logged in: {{request.user}}</span>
            <a class="dropdown-item" href="{% url 'profile' user.id %}">My Profil</a>
            <a class="dropdown-item" href="{% url 'Logout' %} ">Logout</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>

  <div class="row">
    <div class="w-25 mx-md-auto">
      <form action= "" method="post">
          {%csrf_token%}
          {{form.as_p}}
          <input type = "submit" id="addToMain" class="btn btn-primary">
        </form> 
    </div>
  </div>  
{% endblock body %}

{% block css %}
  <style>

  </style>
{% endblock css %}

{% block javascript %}
  <script>

  </script>
{% endblock javascript %}

